body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.header h3 {
  margin: 0;
}
.header .searchInput {
  border: 1px solid #000;
  width: 18%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  border-radius: 5px;
}
.header .searchInput input {
  border: none;
  width: 100%;
}
.header .searchInput input:focus-visible {
  outline: none;
}
.header .header-option {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 20%;
}

.flex-style-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.products .part2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 50px;
}
.products .the-best {
  display: flex;
  justify-content: end;
  gap: 40px;
}
.products .the-best h3 {
  margin: 0;
}
.products .product-items {
  width: 80%;
}
.card {
  border: 1px solid #49494950;
  border-radius: 5px;
  width: 28%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 200px;
}
.card .cardName-and-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .render {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 40px;
}
.products .navbar {
    border: 1px solid #00000049;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
}
.products .navbar .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.part3 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  margin-top: 70px;
}

.flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceRange {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: start;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dontShow {
  height: 0;
  
  visibility: hidden;
}
.show {
  height: 50px;
}
#input {
  transition: 0.5s;
  overflow: hidden;
}
.color {
  cursor: pointer;
}
.part3 .flx i {
  transform: rotate(90deg);
  transition: all 0.4s;
}
#rotate {
  transform: rotate(0deg);
}
#divStyle {
  transition: all 0.2s;
  overflow: hidden;
}
.p2 {
  height: 30px;
}
.intro button {
  background-color: #0000001d;
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.intro button:hover {
  background-color: #0000002e;
}
.intro button h4 {
  padding: 0;
  margin: 0;
  color: red;
}
.redBorder {
  padding-bottom: 10px;
  border-bottom: 4px solid rgb(210, 47, 47);
  color: rgb(210, 47, 47);
}
.products .part2 h3 {
  color: #4141419c;
  font-size: 17px;
}
